<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>成绩</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>ScoreViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>查看成绩</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>账户</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>LoginViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>账户管理</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>XDFCouponsViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>新东方优惠券</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>数据</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>DeleteDataViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>删除数据</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>关于</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Copyright © 2012 Iyuba.com Inc. All Rights Reserved.</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>爱词四级——听说读写背单词</string>
			<key>File</key>
			<string>itms-apps://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=638070884</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>购买完整版</string>
			<key>File</key>
			<string>itms-apps://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=523099688</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>AboutViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>关于爱语吧</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>InforController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>更多精彩应用</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>给我打分</string>
			<key>File</key>
			<string>itms-apps://ax.itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?type=Purple+Software&amp;id=529455490</string>
			<key>Type</key>
			<string>IASKRateMeSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>HelpViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>使用帮助</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>FeedbackViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>意见反馈</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
